:root
{
    --clr-dark: #070a13;
    --clr-dark-primary: #18181b;
    --clr-dark-low: rgba(7, 10, 19, 0.5);
    --clr-dark-2: #18181b;
    --clr-light: #f1f5f9;
    --clr-light-2: #a1a1aa;
    --clr-light-3: #d4d4d8;
    --clr-light-4: #848484;
    --clr-primary: #c86bfa;
    --clr-primary-dark: #2b0042;
    --clr-primary-light: #E4AFFF;
    --clr-secondary: #FBE300;
    --clr-secondary-dark: #F5CF05;
}

.theme-light {
    --clr-dark: #f1f5f9;
    --clr-dark-primary: #fff;
    --clr-dark-low: rgba(241, 245, 249, 0.5);
    --clr-dark-2: #fff;
    --clr-light: #070a13;
    --clr-light-2: #52525b;
    --clr-light-3: #27272a;
    --clr-light-4: #b6b6b6;
    --clr-primary: #c86bfa;
    --clr-primary-dark: #2b0042;
    --clr-primary-light: #E4AFFF;
    --clr-secondary: #F5CF05;
    --clr-secondary-dark: #FBE300;
}

::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track
{
    background: var(--clr-primary-dark); 
}

::-webkit-scrollbar-thumb
{
    background: var(--clr-primary); 
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--clr-primary-light); 
}

::-moz-selection
{
    color: var(--clr-primary);
    background: var(--clr-primary-dark);
}

::selection
{
    color: var(--clr-primary);
    background: var(--clr-primary-dark);
}

*
{
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: 'Open Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg
{
    display: block;
    max-width: 100%;
    user-select: none;
}

button
{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}