/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.header
{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--clr-dark);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--clr-dark-low);
    backdrop-filter: blur(6px);
    z-index: 10;
}

.header .header__side
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header .header__side .header__logo
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 4px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-light);
    transition: 0.3s all ease-in-out;
}

.header .header__side .header__logo:hover, .header .header__side .header__logo:active, .header .header__side .header__logo:focus
{
    border-color: var(--clr-primary);
}

.header .header__side .header__logo img
{
    width: 36px;
    height: 36px;
}

.header .header__side .header__hamburger
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    padding: 22px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-light);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-light);
    background-color: transparent;
    transition: 0.3s all ease-in-out;
}

.header .header__side .header__hamburger i
{
    font-size: 14px;
    margin-right: 10px;
}

.header .header__side .header__menu
{
    display: none;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: max-content;
    height: max-content;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-light);
    outline: none;
    list-style: none;
}

.header .header__side .header__menu .header__menu_item
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-light);
    background-color: transparent;
    transition: 0.3s all ease-in-out;
}

.header .header__side .header__menu .header__menu_item:hover, .header .header__side .header__menu .header__menu_item:active, .header .header__side .header__menu .header__menu_item:focus
{
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}

.header .header__side .header__menu .header__menu_item.active
{
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}

.header .header__side .header__menu .header__menu_item a
{
    color: inherit;
}

.header .header__side .header__theme_toggle
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 22px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-light);
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    color: var(--clr-light);
    background-color: transparent;
    transition: 0.3s all ease-in-out;
}

.header .header__side .header__theme_toggle:hover, .header .header__side .header__theme_toggle:active, .header .header__side .header__theme_toggle:focus
{
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}

.header .header__side .header__theme_toggle .sun
{
    display: none;
}

@media (min-width: 720px)
{

    .header
    {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media (min-width: 1024px)
{

    .header
    {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: var(--clr-dark);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
        background-color: var(--clr-dark-low);
        backdrop-filter: blur(6px);
        z-index: 10;
    }
    
    .header .header__side
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .header .header__side .header__logo
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: max-content;
        padding: 4px;
        background-color: transparent;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: var(--clr-light);
        transition: 0.3s all ease-in-out;
    }
    
    .header .header__side .header__logo:hover, .header .header__side .header__logo:active, .header .header__side .header__logo:focus
    {
        border-color: var(--clr-primary);
    }
    
    .header .header__side .header__logo img
    {
        width: 36px;
        height: 36px;
    }

    .header .header__side .header__hamburger
    {
        display: none;
    }
    
    .header .header__side .header__menu
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: max-content;
        height: max-content;
        padding-left: 25px;
        padding-right: 25px;
        background-color: transparent;
        border-radius: 25px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--clr-light);
        outline: none;
        list-style: none;
    }
    
    .header .header__side .header__menu .header__menu_item
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 8px;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        border-width: 0;
        border-bottom-width: 2px;
        border-style: solid;
        border-color: transparent;
        font-size: 16px;
        font-weight: 500;
        color: var(--clr-light);
        background-color: transparent;
        transition: 0.3s all ease-in-out;
    }
    
    .header .header__side .header__menu .header__menu_item:hover, .header .header__side .header__menu .header__menu_item:active, .header .header__side .header__menu .header__menu_item:focus
    {
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
    
    .header .header__side .header__menu .header__menu_item a
    {
        color: inherit;
    }
    
    .header .header__side .header__theme_toggle
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 22px;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: var(--clr-light);
        cursor: pointer;
        font-size: 20px;
        font-weight: 200;
        color: var(--clr-light);
        background-color: transparent;
        transition: 0.3s all ease-in-out;
    }
    
    .header .header__side .header__theme_toggle:hover, .header .header__side .header__theme_toggle:active, .header .header__side .header__theme_toggle:focus
    {
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
    
    .header .header__side .header__theme_toggle .sun
    {
        display: none;
    }

}

.hamburger_menu
{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
}

.hamburger_menu.active
{
    display: flex;
}

.hamburger_menu .hamburger_menu__background
{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--clr-dark-low);
    backdrop-filter: blur(10px);
}

.hamburger_menu__content
{
    display: flex;
    position: fixed;
    left: 20px;
    right: 20px;
    top: 16px;
    height: max-content;
    background-color: var(--clr-dark-2);
    border-radius: 25px;
    border-width: 1px;
    border-color: var(--clr-light-4);
    border-style: solid;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 33px;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    transition: 0.3s all ease-in-out;
    z-index: 2;
}

.hamburger_menu__content .hamburger_menu__head
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.hamburger_menu__content .hamburger_menu__head .title
{
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-light-2);
}

.hamburger_menu__content .hamburger_menu__head .hamburger_close
{
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-light-2);
    cursor: pointer;
}

.hamburger_menu__content .hamburger_menu__menu
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    list-style: none;
}

.hamburger_menu__content .hamburger_menu__menu .hamburger_menu__menu_item
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--clr-light-3);
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--clr-light-4);
}

.hamburger_menu__content .hamburger_menu__menu .hamburger_menu__menu_item a
{
    color: inherit;
}